.cardsItem{

    color: white;
    width: 80%;
    height: 150px;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.459);
    padding: 10px;
    border-radius: 20px;
    margin-top: 30px;
}

.imgCart{

    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.itemInfo{

    width: 150px;
    margin-left: 50px;
    
}

.botonEliminar{

    
    color: white !important;
    margin-left: 20px !important;
    margin-top: 40px !important;
    
}