.css-7e0s21-MuiPaper-root-MuiAppBar-root{

    background-color: #6d1b7b !important;
    box-shadow:inherit !important;
    color:white;
}

.link{

    color: white;
    text-decoration: none !important;
}

h1{
    color: white;
    text-align: center;
}